# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
pubspec.lock

# Generated code
*.g.dart
*.freezed.dart

# IDE
.idea/
*.iml
.vscode/

# Platform build artifacts
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Misc
*.swp
*.swo
.DS_Store
